# Dependencies
node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/
build/

# Environment variables
.env
.env.*
!.env.example

# Vercel
.vercel/

# Testing
coverage/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# Certificates / private keys
*.pem